@font-face {
    font-family: "League Gothic";
    src: url(../fonts/League-Gothic/LeagueGothic-Regular.otf);
}

@font-face {
    font-family: "Open Sans - Light";
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf)
}

@font-face {
    font-family: "Open Sans - Bolt";
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf)
}

@font-face {
    font-family: "Georgia";
    src: url(../fonts/georgia/georgia.ttf)
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf)
}
@font-face {
    font-family: "Open Sans - Extrabold";
    src: url(../fonts/Open_Sans/OpenSans-ExtraBold.ttf)
}